In [78]:
# Librerias necesarias
import os
import pandas as pd

### Carga de datos

In [79]:
# Cargar en una lista los nombres de todos los archivos
fileList = os.listdir()
 
print(fileList)

['.git', '.gitignore', 'Ejemplo.ipynb', 'Exploracion_Data.ipynb', 'PlazaVea.xlsx', 'PlazaVea_090523_154830.xlsx', 'PlazaVea_090523_160646.xlsx', 'PlazaVea_100523_205252.xlsx', 'PlazaVea_100523_211046.xlsx', 'PlazaVea_100523_223905.xlsx', 'PlazaVea_110523_234115.xlsx', 'PlazaVea_110523_235124.xlsx', 'PlazaVea_120523_000618.xlsx', 'PlazaVea_290523_123426.xlsx', 'PlazaVea_audio_130523_224514.xlsx', 'PlazaVea_audio_160523_121718.xlsx', 'PlazaVea_audio_160523_234350.xlsx', 'PlazaVea_audio_170523_160422.xlsx', 'PlazaVea_audio_170523_170859.xlsx', 'PlazaVea_audio_180523_002130.xlsx', 'PlazaVea_audio_180523_120755.xlsx', 'PlazaVea_audio_190523_194258.xlsx', 'PlazaVea_audio_230523_150349.xlsx', 'PlazaVea_audio_250523_102502.xlsx', 'PlazaVea_audio_250523_103534.xlsx', 'PlazaVea_audio_250523_110030.xlsx', 'PlazaVea_audio_250523_111242.xlsx', 'PlazaVea_audio_250523_111521.xlsx', 'PlazaVea_audio_250523_112624.xlsx', 'PlazaVea_audio_250523_122009.xlsx', 'PlazaVea_audio_270523_050548.xlsx', 'PlazaVea_cocinas_180523_123934.xlsx', 'PlazaVea_cocinas_190523_201143.xlsx', 'PlazaVea_cocinas_230523_153314.xlsx', 'PlazaVea_cocinas_250523_102552.xlsx', 'PlazaVea_cocinas_250523_110056.xlsx', 'PlazaVea_cocinas_250523_111316.xlsx', 'PlazaVea_cocinas_250523_111557.xlsx', 'PlazaVea_cocinas_250523_112712.xlsx', 'PlazaVea_cocinas_250523_123826.xlsx', 'PlazaVea_cocinas_270523_053245.xlsx', 'PlazaVea_cuidado-personal_180523_151135.xlsx', 'PlazaVea_cuidado-personal_190523_204135.xlsx', 'PlazaVea_cuidado-personal_230523_160321.xlsx', 'PlazaVea_cuidado-personal_250523_111632.xlsx', 'PlazaVea_cuidado-personal_250523_112805.xlsx', 'PlazaVea_cuidado-personal_270523_060202.xlsx', 'PlazaVea_lavado_180523_122412.xlsx', 'PlazaVea_lavado_190523_195718.xlsx', 'PlazaVea_lavado_230523_151827.xlsx', 'PlazaVea_lavado_250523_102526.xlsx', 'PlazaVea_lavado_250523_103548.xlsx', 'PlazaVea_lavado_250523_110043.xlsx', 'PlazaVea_lavado_250523_111259.xlsx', 'PlazaVea_lavado_250523_111539.xlsx', 'PlazaVea_lavado_250523_112648.xlsx', 'PlazaVea_lavado_250523_122508.xlsx', 'PlazaVea_lavado_270523_051355.xlsx', 'PlazaVea_refrigeración_180523_125445.xlsx', 'PlazaVea_refrigeración_190523_202632.xlsx', 'PlazaVea_refrigeración_230523_154810.xlsx', 'PlazaVea_refrigeración_250523_111614.xlsx', 'PlazaVea_refrigeración_250523_112738.xlsx', 'PlazaVea_refrigeración_250523_124625.xlsx', 'PlazaVea_refrigeración_270523_053321.xlsx', 'PlazaVea_telefonia_130523_211418.xlsx', 'PlazaVea_telefonia_160523_001136.xlsx', 'PlazaVea_telefonia_170523_002034.xlsx', 'PlazaVea_telefonia_170523_030614.xlsx', 'PlazaVea_telefonia_170523_032046.xlsx', 'PlazaVea_telefonia_170523_033627.xlsx', 'PlazaVea_telefonia_170523_160355.xlsx', 'PlazaVea_telefonia_170523_163324.xlsx', 'PlazaVea_telefonia_170523_234821.xlsx', 'PlazaVea_telefonia_180523_113536.xlsx', 'PlazaVea_telefonia_190523_191327.xlsx', 'PlazaVea_telefonia_230523_142210.xlsx', 'PlazaVea_telefonia_250523_102405.xlsx', 'PlazaVea_telefonia_250523_103034.xlsx', 'PlazaVea_telefonia_250523_103322.xlsx', 'PlazaVea_telefonia_250523_103503.xlsx', 'PlazaVea_telefonia_250523_110005.xlsx', 'PlazaVea_telefonia_250523_110509.xlsx', 'PlazaVea_telefonia_250523_110605.xlsx', 'PlazaVea_telefonia_250523_110654.xlsx', 'PlazaVea_telefonia_250523_111027.xlsx', 'PlazaVea_telefonia_250523_111117.xlsx', 'PlazaVea_telefonia_250523_111205.xlsx', 'PlazaVea_telefonia_250523_111355.xlsx', 'PlazaVea_telefonia_250523_111449.xlsx', 'PlazaVea_telefonia_250523_112001.xlsx', 'PlazaVea_telefonia_250523_112150.xlsx', 'PlazaVea_telefonia_250523_112232.xlsx', 'PlazaVea_telefonia_250523_112404.xlsx', 'PlazaVea_telefonia_250523_112534.xlsx', 'PlazaVea_telefonia_250523_113218.xlsx', 'PlazaVea_telefonia_250523_113305.xlsx', 'PlazaVea_telefonia_250523_115134.xlsx', 'PlazaVea_telefonia_270523_032223.xlsx', 'PlazaVea_telefonia_270523_041903.xlsx', 'PlazaVea_telefonia_280523_192558.xlsx', 'PlazaVea_televisores_130523_221850.xlsx', 'PlazaVea_televisores_160523_114745.xlsx', 'PlazaVea_televisores_170523_000538.xlsx', 'PlazaVea_televisores_170523_160408.xlsx', 'PlazaVea_televisores_170523_165104.xlsx', 'PlazaVea_televisores_180523_000531.xlsx', 'PlazaVea_televisores_180523_115208.xlsx', 'PlazaVea_televisores_190523_192729.xlsx', 'PlazaVea_televisores_230523_144115.xlsx', 'PlazaVea_televisores_250523_102434.xlsx', 'PlazaVea_televisores_250523_103519.xlsx', 'PlazaVea_televisores_250523_110017.xlsx', 'PlazaVea_televisores_250523_110620.xlsx', 'PlazaVea_televisores_250523_111045.xlsx', 'PlazaVea_televisores_250523_111133.xlsx', 'PlazaVea_televisores_250523_111224.xlsx', 'PlazaVea_televisores_250523_111415.xlsx', 'PlazaVea_televisores_250523_111504.xlsx', 'PlazaVea_televisores_250523_112018.xlsx', 'PlazaVea_televisores_250523_112207.xlsx', 'PlazaVea_televisores_250523_112559.xlsx', 'PlazaVea_televisores_250523_113329.xlsx', 'PlazaVea_televisores_250523_120254.xlsx', 'PlazaVea_televisores_270523_043846.xlsx', 'PlazaVea_televisores_280523_194341.xlsx', 'Project de investigacion.ipynb', 'PyWhatKit_DB.txt']

In [80]:
listCsv = [file for file in fileList if file[0:9] == "PlazaVea_"]
print(listCsv)

['PlazaVea_090523_154830.xlsx', 'PlazaVea_090523_160646.xlsx', 'PlazaVea_100523_205252.xlsx', 'PlazaVea_100523_211046.xlsx', 'PlazaVea_100523_223905.xlsx', 'PlazaVea_110523_234115.xlsx', 'PlazaVea_110523_235124.xlsx', 'PlazaVea_120523_000618.xlsx', 'PlazaVea_290523_123426.xlsx', 'PlazaVea_audio_130523_224514.xlsx', 'PlazaVea_audio_160523_121718.xlsx', 'PlazaVea_audio_160523_234350.xlsx', 'PlazaVea_audio_170523_160422.xlsx', 'PlazaVea_audio_170523_170859.xlsx', 'PlazaVea_audio_180523_002130.xlsx', 'PlazaVea_audio_180523_120755.xlsx', 'PlazaVea_audio_190523_194258.xlsx', 'PlazaVea_audio_230523_150349.xlsx', 'PlazaVea_audio_250523_102502.xlsx', 'PlazaVea_audio_250523_103534.xlsx', 'PlazaVea_audio_250523_110030.xlsx', 'PlazaVea_audio_250523_111242.xlsx', 'PlazaVea_audio_250523_111521.xlsx', 'PlazaVea_audio_250523_112624.xlsx', 'PlazaVea_audio_250523_122009.xlsx', 'PlazaVea_audio_270523_050548.xlsx', 'PlazaVea_cocinas_180523_123934.xlsx', 'PlazaVea_cocinas_190523_201143.xlsx', 'PlazaVea_cocinas_230523_153314.xlsx', 'PlazaVea_cocinas_250523_102552.xlsx', 'PlazaVea_cocinas_250523_110056.xlsx', 'PlazaVea_cocinas_250523_111316.xlsx', 'PlazaVea_cocinas_250523_111557.xlsx', 'PlazaVea_cocinas_250523_112712.xlsx', 'PlazaVea_cocinas_250523_123826.xlsx', 'PlazaVea_cocinas_270523_053245.xlsx', 'PlazaVea_cuidado-personal_180523_151135.xlsx', 'PlazaVea_cuidado-personal_190523_204135.xlsx', 'PlazaVea_cuidado-personal_230523_160321.xlsx', 'PlazaVea_cuidado-personal_250523_111632.xlsx', 'PlazaVea_cuidado-personal_250523_112805.xlsx', 'PlazaVea_cuidado-personal_270523_060202.xlsx', 'PlazaVea_lavado_180523_122412.xlsx', 'PlazaVea_lavado_190523_195718.xlsx', 'PlazaVea_lavado_230523_151827.xlsx', 'PlazaVea_lavado_250523_102526.xlsx', 'PlazaVea_lavado_250523_103548.xlsx', 'PlazaVea_lavado_250523_110043.xlsx', 'PlazaVea_lavado_250523_111259.xlsx', 'PlazaVea_lavado_250523_111539.xlsx', 'PlazaVea_lavado_250523_112648.xlsx', 'PlazaVea_lavado_250523_122508.xlsx', 'PlazaVea_lavado_270523_051355.xlsx', 'PlazaVea_refrigeración_180523_125445.xlsx', 'PlazaVea_refrigeración_190523_202632.xlsx', 'PlazaVea_refrigeración_230523_154810.xlsx', 'PlazaVea_refrigeración_250523_111614.xlsx', 'PlazaVea_refrigeración_250523_112738.xlsx', 'PlazaVea_refrigeración_250523_124625.xlsx', 'PlazaVea_refrigeración_270523_053321.xlsx', 'PlazaVea_telefonia_130523_211418.xlsx', 'PlazaVea_telefonia_160523_001136.xlsx', 'PlazaVea_telefonia_170523_002034.xlsx', 'PlazaVea_telefonia_170523_030614.xlsx', 'PlazaVea_telefonia_170523_032046.xlsx', 'PlazaVea_telefonia_170523_033627.xlsx', 'PlazaVea_telefonia_170523_160355.xlsx', 'PlazaVea_telefonia_170523_163324.xlsx', 'PlazaVea_telefonia_170523_234821.xlsx', 'PlazaVea_telefonia_180523_113536.xlsx', 'PlazaVea_telefonia_190523_191327.xlsx', 'PlazaVea_telefonia_230523_142210.xlsx', 'PlazaVea_telefonia_250523_102405.xlsx', 'PlazaVea_telefonia_250523_103034.xlsx', 'PlazaVea_telefonia_250523_103322.xlsx', 'PlazaVea_telefonia_250523_103503.xlsx', 'PlazaVea_telefonia_250523_110005.xlsx', 'PlazaVea_telefonia_250523_110509.xlsx', 'PlazaVea_telefonia_250523_110605.xlsx', 'PlazaVea_telefonia_250523_110654.xlsx', 'PlazaVea_telefonia_250523_111027.xlsx', 'PlazaVea_telefonia_250523_111117.xlsx', 'PlazaVea_telefonia_250523_111205.xlsx', 'PlazaVea_telefonia_250523_111355.xlsx', 'PlazaVea_telefonia_250523_111449.xlsx', 'PlazaVea_telefonia_250523_112001.xlsx', 'PlazaVea_telefonia_250523_112150.xlsx', 'PlazaVea_telefonia_250523_112232.xlsx', 'PlazaVea_telefonia_250523_112404.xlsx', 'PlazaVea_telefonia_250523_112534.xlsx', 'PlazaVea_telefonia_250523_113218.xlsx', 'PlazaVea_telefonia_250523_113305.xlsx', 'PlazaVea_telefonia_250523_115134.xlsx', 'PlazaVea_telefonia_270523_032223.xlsx', 'PlazaVea_telefonia_270523_041903.xlsx', 'PlazaVea_telefonia_280523_192558.xlsx', 'PlazaVea_televisores_130523_221850.xlsx', 'PlazaVea_televisores_160523_114745.xlsx', 'PlazaVea_televisores_170523_000538.xlsx', 'PlazaVea_televisores_170523_160408.xlsx', 'PlazaVea_televisores_170523_165104.xlsx', 'PlazaVea_televisores_180523_000531.xlsx', 'PlazaVea_televisores_180523_115208.xlsx', 'PlazaVea_televisores_190523_192729.xlsx', 'PlazaVea_televisores_230523_144115.xlsx', 'PlazaVea_televisores_250523_102434.xlsx', 'PlazaVea_televisores_250523_103519.xlsx', 'PlazaVea_televisores_250523_110017.xlsx', 'PlazaVea_televisores_250523_110620.xlsx', 'PlazaVea_televisores_250523_111045.xlsx', 'PlazaVea_televisores_250523_111133.xlsx', 'PlazaVea_televisores_250523_111224.xlsx', 'PlazaVea_televisores_250523_111415.xlsx', 'PlazaVea_televisores_250523_111504.xlsx', 'PlazaVea_televisores_250523_112018.xlsx', 'PlazaVea_televisores_250523_112207.xlsx', 'PlazaVea_televisores_250523_112559.xlsx', 'PlazaVea_televisores_250523_113329.xlsx', 'PlazaVea_televisores_250523_120254.xlsx', 'PlazaVea_televisores_270523_043846.xlsx', 'PlazaVea_televisores_280523_194341.xlsx']

In [81]:
# Crear DataFrame vacio
df = pd.DataFrame()
 
# Recorrer la lista de archivos y unirlos
for file in listCsv:
    ftemp = pd.read_excel(file)
    df = pd.concat([df, ftemp], axis=0)

df.head(5)

,Numero_Page,Fecha,Categoria,Nombre_Producto,Precio_Real,Precio_Final,Subcategoria
0,2,2023-05-09 00:00:00,televisores,Televisor LG LED 65'' UHD 4K ThinQ AI 65UQ7950,2799.0,1899.0,NaN
1,2,2023-05-09 00:00:00,televisores,Televisor HISENSE LED 50'' UHD 4K Smart TV 50A...,1799.0,799.0,NaN
2,2,2023-05-09 00:00:00,televisores,Televisor SAMSUNG LED 55'' UHD 4K Smart Tv UN5...,1999.0,1499.0,NaN
3,2,2023-05-09 00:00:00,televisores,Televisor SAMSUNG LED 65'' UHD 4K Smart Tv UN6...,2599.0,1849.0,NaN
4,2,2023-05-09 00:00:00,televisores,Televisor BLACKLINE LED 50'' UHD 4K Smart TV 5...,1599.0,799.0,NaN

### Exploración de datos

In [82]:
df.shape

(116228, 7)

In [83]:
df.dtypes

Numero_Page         object
Fecha               object
Categoria           object
Nombre_Producto     object
Precio_Real        float64
Precio_Final       float64
Subcategoria        object
dtype: object

In [84]:
df.describe()

         Precio_Real   Precio_Final
count  116228.000000  116228.000000
mean     1934.095761    1509.276967
std      4289.431324    3310.588308
min         6.900000       3.900000
25%        69.900000      49.900000
50%       349.000000     270.000000
75%      1989.000000    1549.000000
max     57549.000000   44269.000000

In [85]:
df['Fecha'] = df['Fecha'].astype(str)
df.dtypes

Numero_Page         object
Fecha               object
Categoria           object
Nombre_Producto     object
Precio_Real        float64
Precio_Final       float64
Subcategoria        object
dtype: object

### Tratamiento de datos

In [86]:
df['Fecha'] = df['Fecha'].str[:10]
df

,Numero_Page,Fecha,Categoria,Nombre_Producto,Precio_Real,Precio_Final,Subcategoria
0,2,2023-05-09,televisores,Televisor LG LED 65'' UHD 4K ThinQ AI 65UQ7950,2799.0,1899.0,NaN
1,2,2023-05-09,televisores,Televisor HISENSE LED 50'' UHD 4K Smart TV 50A...,1799.0,799.0,NaN
2,2,2023-05-09,televisores,Televisor SAMSUNG LED 55'' UHD 4K Smart Tv UN5...,1999.0,1499.0,NaN
3,2,2023-05-09,televisores,Televisor SAMSUNG LED 65'' UHD 4K Smart Tv UN6...,2599.0,1849.0,NaN
4,2,2023-05-09,televisores,Televisor BLACKLINE LED 50'' UHD 4K Smart TV 5...,1599.0,799.0,NaN
...,...,...,...,...,...,...,...
580,28,28-05-2023,tecnologia,"Televisor BGH B3219K5IP 32"" HD Smart TV",1059.0,649.0,televisores
581,28,28-05-2023,tecnologia,"Televisor 32"" LG 32LM637BPSB Smart HD con Cont...",2099.0,1099.0,televisores
582,28,28-05-2023,tecnologia,"Televisor 4K Ultra HD Smart TV 75"" XBR-75X905H...",9799.0,7839.2,televisores
583,28,28-05-2023,tecnologia,"Televisor LED 32"" AI ThinQ Smart HD LG 32LM637...",1499.0,979.0,televisores
584,28,28-05-2023,tecnologia,"Combo TV 55""KS7500 + Monitor 24""",3999.0,3999.0,televisores

In [87]:
df['Fecha'] = pd.to_datetime(df['Fecha'])
df

,Numero_Page,Fecha,Categoria,Nombre_Producto,Precio_Real,Precio_Final,Subcategoria
0,2,2023-05-09,televisores,Televisor LG LED 65'' UHD 4K ThinQ AI 65UQ7950,2799.0,1899.0,NaN
1,2,2023-05-09,televisores,Televisor HISENSE LED 50'' UHD 4K Smart TV 50A...,1799.0,799.0,NaN
2,2,2023-05-09,televisores,Televisor SAMSUNG LED 55'' UHD 4K Smart Tv UN5...,1999.0,1499.0,NaN
3,2,2023-05-09,televisores,Televisor SAMSUNG LED 65'' UHD 4K Smart Tv UN6...,2599.0,1849.0,NaN
4,2,2023-05-09,televisores,Televisor BLACKLINE LED 50'' UHD 4K Smart TV 5...,1599.0,799.0,NaN
...,...,...,...,...,...,...,...
580,28,2023-05-28,tecnologia,"Televisor BGH B3219K5IP 32"" HD Smart TV",1059.0,649.0,televisores
581,28,2023-05-28,tecnologia,"Televisor 32"" LG 32LM637BPSB Smart HD con Cont...",2099.0,1099.0,televisores
582,28,2023-05-28,tecnologia,"Televisor 4K Ultra HD Smart TV 75"" XBR-75X905H...",9799.0,7839.2,televisores
583,28,2023-05-28,tecnologia,"Televisor LED 32"" AI ThinQ Smart HD LG 32LM637...",1499.0,979.0,televisores
584,28,2023-05-28,tecnologia,"Combo TV 55""KS7500 + Monitor 24""",3999.0,3999.0,televisores

In [88]:
# Obtener un codigo unico por producto
df['Codigo_Producto'] = pd.factorize(df['Nombre_Producto'])[0] + 1

In [89]:
# Ordenar el DataFrame por 'Fecha' y 'Precio_Real' en orden ascendente
df_origen = df.sort_values(['Fecha', 'Precio_Real'],ascending=[True, True])

# Para que solo exista un unico resgistro por fecha y producto
df_origen['RowNumber'] = df_origen.groupby(['Fecha','Nombre_Producto']).cumcount() + 1

df_origen = df_origen[df_origen['RowNumber'] == 1]
df_origen = df_origen.drop('RowNumber', axis=1)

In [90]:
df_origen[df_origen['Codigo_Producto'] == 2663]

,Numero_Page,Fecha,Categoria,Nombre_Producto,Precio_Real,Precio_Final,Subcategoria,Codigo_Producto
74,4,2023-05-10,televisores,Televisor SAMSUNG Neo QLED 50'' UHD 4K Smart T...,2499.0,2499.0,NaN,2663
77,4,2023-05-11,televisores,Televisor SAMSUNG Neo QLED 50'' UHD 4K Smart T...,2499.0,2499.0,NaN,2663
76,4,2023-05-13,televisores,Televisor SAMSUNG Neo QLED 50'' UHD 4K Smart T...,4399.0,4399.0,NaN,2663
77,4,2023-05-16,televisores,Televisor SAMSUNG Neo QLED 50'' UHD 4K Smart T...,4399.0,4399.0,NaN,2663
5305,4,2023-05-17,telefonia,Televisor SAMSUNG Neo QLED 50'' UHD 4K Smart T...,4399.0,4399.0,NaN,2663
81,4,2023-05-18,tecnologia,Televisor SAMSUNG Neo QLED 50'' UHD 4K Smart T...,4399.0,4399.0,televisores,2663
58,4,2023-05-19,tecnologia,Televisor SAMSUNG Neo QLED 50'' UHD 4K Smart T...,4399.0,4399.0,televisores,2663
75,4,2023-05-23,tecnologia,Televisor SAMSUNG Neo QLED 50'' UHD 4K Smart T...,4399.0,4399.0,televisores,2663
73,4,2023-05-25,tecnologia,Televisor SAMSUNG Neo QLED 50'' UHD 4K Smart T...,4399.0,4399.0,televisores,2663
74,4,2023-05-27,tecnologia,Televisor SAMSUNG Neo QLED 50'' UHD 4K Smart T...,4399.0,4399.0,televisores,2663
71,4,2023-05-28,tecnologia,Televisor SAMSUNG Neo QLED 50'' UHD 4K Smart T...,4399.0,4399.0,televisores,2663

### Análisis de datos

##### Ejemplo de manipulación de datos

In [91]:
import pandas as pd

# DataFrame
df_example = pd.DataFrame({'Grupo': ['A', 'A', 'B', 'B', 'B', 'C', 'C'],
                   'Valor': [10, 20, 30, 40, 50, 70, 60]})

# Ordenar el DataFrame por 'Grupo' y 'Valor' en orden ascendente
df_sorted = df_example.sort_values(['Grupo', 'Valor'],ascending=[True, False])

# Obtener los códigos numéricos únicos para cada letra en el campo "Grupo"
df_sorted['Codigo'] = pd.factorize(df_sorted['Grupo'])[0] + 1

# Aplicar la operación OVER de suma acumulativa
df_sorted['RowNumber'] = df_sorted.groupby('Grupo').cumcount() + 1
df_sorted['SumaAcumulativa'] = df_sorted.groupby('Grupo')['Valor'].cumsum()
df_sorted['ValorAcumulado_unit'] = df_sorted.groupby('Grupo')['Valor'].transform('count')
df_sorted['ValorAcumulado_sum'] = df_sorted.groupby('Grupo')['Valor'].transform('sum')
df_sorted['ValorAcumulado_mean'] = df_sorted.groupby('Grupo')['Valor'].transform('mean')

print(df_sorted)

  Grupo  Valor  Codigo  RowNumber  SumaAcumulativa  ValorAcumulado_unit  \
1     A     20       1          1               20                    2
0     A     10       1          2               30                    2
4     B     50       2          1               50                    3
3     B     40       2          2               90                    3
2     B     30       2          3              120                    3
5     C     70       3          1               70                    2
6     C     60       3          2              130                    2

   ValorAcumulado_sum  ValorAcumulado_mean
1                  30                 15.0
0                  30                 15.0
4                 120                 40.0
3                 120                 40.0
2                 120                 40.0
5                 130                 65.0
6                 130                 65.0

##### Análisis de precios

In [92]:
df_analysis = df_origen[df_origen['Fecha'] != df_origen['Fecha'].max()]
print(df_analysis['Fecha'].max())

2023-05-28 00:00:00

In [93]:
fecha_corte = df_origen['Fecha'].max()

In [94]:
# Nueva logica de resumen

df_resumen = df_analysis.groupby(['Codigo_Producto','Nombre_Producto']).agg({'Precio_Real': ['mean','min','max']})
df_resumen.columns = ['Media_Precio', 'Minimo_Precio', 'Maximo_Precio']
df_resumen.head()

,,Media_Precio,Minimo_Precio,Maximo_Precio
Codigo_Producto,Nombre_Producto,,,
1,Televisor LG LED 65'' UHD 4K ThinQ AI 65UQ7950,2799.0,2799.0,2799.0
2,Televisor HISENSE LED 50'' UHD 4K Smart TV 50A...,1799.0,1799.0,1799.0
3,Televisor SAMSUNG LED 55'' UHD 4K Smart Tv UN5...,1999.0,1999.0,1999.0
4,Televisor SAMSUNG LED 65'' UHD 4K Smart Tv UN6...,2599.0,2599.0,2599.0
5,Televisor BLACKLINE LED 50'' UHD 4K Smart TV 5...,1599.0,1599.0,1599.0

In [95]:
porcentaje_oferta = 0.20
df_resumen['var_superior'] = df_resumen['Media_Precio']*(1 + porcentaje_oferta)
df_resumen['var_inferior'] = df_resumen['Media_Precio']*(1 - porcentaje_oferta)
df_resumen.head()

,,Media_Precio,Minimo_Precio,Maximo_Precio,var_superior,var_inferior
Codigo_Producto,Nombre_Producto,,,,,
1,Televisor LG LED 65'' UHD 4K ThinQ AI 65UQ7950,2799.0,2799.0,2799.0,3358.8,2239.2
2,Televisor HISENSE LED 50'' UHD 4K Smart TV 50A...,1799.0,1799.0,1799.0,2158.8,1439.2
3,Televisor SAMSUNG LED 55'' UHD 4K Smart Tv UN5...,1999.0,1999.0,1999.0,2398.8,1599.2
4,Televisor SAMSUNG LED 65'' UHD 4K Smart Tv UN6...,2599.0,2599.0,2599.0,3118.8,2079.2
5,Televisor BLACKLINE LED 50'' UHD 4K Smart TV 5...,1599.0,1599.0,1599.0,1918.8,1279.2

In [96]:
df_precio_altual = df_origen[df_origen['Fecha'] == df_origen['Fecha'].max()]

df_join = df_resumen.merge(df_precio_altual, how='outer', on='Codigo_Producto')

In [97]:
df_join.columns

Index(['Codigo_Producto', 'Media_Precio', 'Minimo_Precio', 'Maximo_Precio',
       'var_superior', 'var_inferior', 'Numero_Page', 'Fecha', 'Categoria',
       'Nombre_Producto', 'Precio_Real', 'Precio_Final', 'Subcategoria'],
      dtype='object')

In [98]:
df_join = df_join[['Codigo_Producto','Categoria','Subcategoria','Nombre_Producto','Precio_Real','var_superior', 'var_inferior', 'Precio_Final', 'Media_Precio', 'Minimo_Precio', 'Maximo_Precio']]
df_join.head(3)

,Codigo_Producto,Categoria,Subcategoria,Nombre_Producto,Precio_Real,var_superior,var_inferior,Precio_Final,Media_Precio,Minimo_Precio,Maximo_Precio
0,1,NaN,NaN,NaN,NaN,3358.8,2239.2,NaN,2799.0,2799.0,2799.0
1,2,NaN,NaN,NaN,NaN,2158.8,1439.2,NaN,1799.0,1799.0,1799.0
2,3,NaN,NaN,NaN,NaN,2398.8,1599.2,NaN,1999.0,1999.0,1999.0

In [99]:
def diferencia_extremo(df, precio, superior, inferior):
    if df[precio] <= df[inferior]:
        return 'Alerta de precio'
    else:
        if df[inferior] <= df[precio] <= df[superior]:
            return 'Sin cambios'
        else:
            return 'Alza de precio'

df_join['Criterio'] = df_join.apply(diferencia_extremo, axis=1, precio='Precio_Real',superior='var_superior',inferior='var_inferior')

In [100]:
df_join[df_join['Criterio'] == 'Alerta de precio'].sort_values(['Precio_Real'],ascending=[False])

,Codigo_Producto,Categoria,Subcategoria,Nombre_Producto,Precio_Real,var_superior,var_inferior,Precio_Final,Media_Precio,Minimo_Precio,Maximo_Precio,Criterio
4158,4159,tecnologia,audio,Electro-Voice EVF-1122D Single System de altav...,18459.00,28795.200000,19196.800000,14199.00,23996.000000,18459.00,26369.0,Alerta de precio
4471,4472,tecnologia,audio,Electro-Voice EVF1151S Sistema de elementos de...,12719.00,21907.200000,14604.800000,9779.00,18256.000000,12719.00,20629.0,Alerta de precio
6203,6215,electrohogar,cocinas,COMBO Cocina empotrable SOLCO033 + Campana Ven...,2960.00,4898.800000,3265.866667,2817.00,4082.333333,3089.00,4579.0,Alerta de precio
3327,3328,tecnologia,audio,Audífonos internos inalámbricos verdaderos con...,1099.00,1904.400000,1269.600000,839.00,1587.000000,1099.00,1709.0,Alerta de precio
3580,3581,tecnologia,audio,Auriculares intrauditivos inalámbricos Skullca...,369.00,682.800000,455.200000,279.00,569.000000,369.00,619.0,Alerta de precio
546,547,tecnologia,telefonia,Smart Watch Serie 8 Negro,80.00,124.000000,82.666667,39.99,103.333333,80.00,120.0,Alerta de precio
547,548,tecnologia,telefonia,Smart Watch Serie 8 Blanco,69.99,111.689538,74.459692,39.99,93.074615,69.99,120.0,Alerta de precio
1465,1466,tecnologia,telefonia,Case Funda de Silicona Goku para iPhone 13 Pro...,50.00,87.000000,58.000000,29.90,72.500000,50.00,80.0,Alerta de precio

##### Primer analisis

In [101]:
#df_ajustada['Valor_mean'] = df_ajustada.groupby('Nombre_Producto')['Precio_Real'].transform('mean')

Variable_oferta = 0.30
#df_ajustada['var_superior'] = df_ajustada['Valor_mean']*(1 + Variable_oferta)
#df_ajustada['var_inferior'] = df_ajustada['Valor_mean']*(1 - Variable_oferta)


#def diferencia_extremo(df, precio, superior, inferior):
#    if df[precio] <= df[inferior]:
#        return 'Alerta de precio'
#    else:
#        if df[inferior] <= df[precio] <= df[superior]:
#            return 'Sin cambios'
#       else:
#            return 'Alza de precio'

#df_ajustada['Criterio'] = df_ajustada.apply(diferencia_extremo, axis=1, precio='Precio_Real',superior='var_superior',inferior='var_inferior')

In [102]:
#df_ajustada[df_ajustada['Criterio'] == 'Alerta de precio'].sort_values(['Precio_Real'],ascending=[False])

### Resumen Final

In [109]:
import matplotlib.pyplot as plt

In [110]:
#plt.figure(figsize=(10, 6))
#
#
#plt.plot(df_join['Fecha'], df_join['Precio_Real'])
#plt.plot(df_join['Fecha'], df_join['var_superior']) # linestyle = "--" color = "r"
#plt.plot(df_join['Fecha'], df_join['var_inferior']) # linestyle = "--" color = "r"
#plt.plot(df_join['Fecha'], df_join['Valor_mean']) # linestyle = "--" color = "r"
#
## Personalizar el gráfico
#plt.title('Gráfico de Líneas con Datos del DataFrame')
#plt.xlabel('Fecha')
#plt.ylabel('Precio Real')
#plt.show()

### Enviar correo

In [111]:
df_alerta_file =  df_join[df_join['Criterio'] == 'Alerta de precio'].sort_values(['Precio_Real'],ascending=[False])

In [113]:
import smtplib
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText

In [114]:
# Definir los detalles del correo electrónico
email_sender = 'luisarhuide@gmail.com'
email_receiver = ['luisarhuide@gmail.com','rosasestrada.fg@gmail.com','larhuidem@uni.pe','jarhuirem@uni.pe']
email_subject = f'Alerta de Productos {fecha_corte}'

# Crear el objeto del correo electrónico
msg = MIMEMultipart()
msg['From'] = email_sender
msg['To'] = ','.join(email_receiver)
msg['Subject'] = email_subject

In [115]:
# Convertir el DataFrame a HTML
html = df_alerta_file.to_html()

# Crear el cuerpo del correo como texto plano y HTML
plain_text = f'Listado de productos debajo del {porcentaje_oferta*100}% del promedio:'
html_text = f"""
<html>
  <body>
    <p>Resumen de productos:</p>
    {html}
  </body>
</html>
"""

In [116]:
# Adjuntar el contenido del correo
msg.attach(MIMEText(plain_text, 'plain'))
msg.attach(MIMEText(html_text, 'html'))

# Establecer la conexión con el servidor de correo
smtp_username = 'luisarhuide@gmail.com'
smtp_password = 'ikviilnjndoluxiw' #https://myaccount.google.com/u/0/apppasswords

server = smtplib.SMTP('smtp.gmail.com', 587)
server.starttls()
server.login(smtp_username, smtp_password)

# Enviar el correo electrónico
server.sendmail(email_sender, email_receiver, msg.as_string())
server.quit()

print('Correo enviado exitosamente.')

Correo enviado exitosamente.